html, body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
}

.sidenav {
  height: 2vh;
  width: 0vw;
  z-index: 1;
  background-color: rgba(255,255,255,0.0);
  transition: 1s;
  overflow: hidden;
  margin: 5.7vh 0 0 0;
}

.sidenav a {
  margin: 0 1vw 0 1vw;
  text-decoration: none;
  font-size: 1.25em;
  color: #111;
  transition: 0.5s;
  float: right;
}

.sidenav a:hover {
  color: #FFFFFF;
}

.flright {
  float: right;
}

.container {
  display: inline-block;
  cursor: pointer;
  float: right;
  margin: 5vh 5vw 0 1vw;
}

.container:hover div {
  background-color: #FFFFFF;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #111;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
