html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
}

nav {
  text-align: center;
  background-color: rgba(255,255,255,0.1);
  height: 8vh;
  margin-top: 0vh;
  border-radius: 0em;
}

.navmain {
  width: 37vw;
  float: left;
  margin-left: 31.5vw;
}

.navside {
  width: 12vw;
  float: right;
  margin-right: 8vw;
}

nav button {
  height: 6vh;
  color: white;
  background-color: rgba(255,255,255,0.0);
  padding: 1vh 0vw 1vh 0vw;
  margin: 1vh 0vw 0vh 0vw;
  text-decoration: none;
  border: none;
  transition-duration: 0.5s;
  font-weight: 750;
  font-size: 2vh;
}

.navbuttonmain {
  width: 7vw;
}

.navbuttonside {
  width: 10.5vw;
  margin-top: 1vh;
}

nav button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

nav button:active {
  background-color: rgba(255,255,255,0.1);
  outline: none;
  transition-duration: 0.5s;
  /*transform: mess with*/
}

.line {
  background-color: rgba(255,255,255,0.1);
  height: 8vh;
  width: 100vw;
}

svg rect {
    fill: blue;
}

svg text {
    fill:white;
    font: 10px sans-serif;
    text-anchor: end;
}
