html, body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
}

nav {
  text-align: center;
  background-color: rgba(255,255,255,0.1);
  width: 30vw;
  height: 6vh;
  margin: 3% 35%;
  border-radius: 20px;

}

.navbutton {
  height: 70%;
  width: 15%;
  color: white;
  padding: 1% 1% 1% 1%;
  margin-top: 1.5%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  background-color: rgba(255,255,255,0.0);
  text-decoration: none;
  transition-duration: 0.4s;
  border: none;
  border-radius: 15px;
  font-weight: 750;
}

.navbutton:hover {
  background-color: white;
  color: black;
}


}
svg rect {
    fill: blue;
}

svg text {
    fill:white;
    font: 10px sans-serif;
    text-anchor: end;
}
