html, body {
  margin: 0;
  padding: 0;
}

nav {
  text-align: center;
  background-color: rgba(255,255,255,0.1);
  width: 30vw;
  height: 6vh;
  margin: 3% 35%;
  border-radius: 20px;

}

.navbutton {
  height: 70%;
  width: 15%;
  color: white;
  padding: 1% 1% 1% 1%;
  margin: 1.5% 1.5% 0% 1.5%;
  background-color: rgba(255,255,255,0.0);
  text-decoration: none;
  transition-duration: 0.4s;
  border: none;
  border-radius: 15px;
  font-weight: 750;
}

.navbutton:hover {
  background-color: white;
  color: black;
}

.sunsetimg {
  background-image: url('/app1/static/sunset.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
