<!DOCTYPE html>

{% load static %}

<html lang="en">

<link rel="icon" href="{% static 'favicon.ico' %}">
<link rel="stylesheet" href="{% static 'app1.css' %}">

  <head>
    <title>A Django Project</title>
    <meta charset="UTF-8"?
  </head>

  <body class="sunsetimg">
    <!--<img class="sunsetimg" src="{% static 'sunset.jpg' %}" alt="sunset">-->

    <nav>
      <a href="MAKE THIS WORK!"><button class="navbutton">Home1</button></a>
      <a href="MAKE THIS WORK!"><button class="navbutton">Home2</button></a>
      <a href="MAKE THIS WORK!"><button class="navbutton">Home3</button></a>
      <a href="MAKE THIS WORK!"><button class="navbutton">Home4</button></a>
      <a href="MAKE THIS WORK!"><button class="navbutton">Home5</button></a>
    </nav>



    <script src="{% static 'app1.js' %}"></script>
  </body>

</html>
