<!DOCTYPE html>

{% load static %}

<html lang="en">

<link rel="icon" href="{% static 'favicon.ico' %}">
<link rel="stylesheet" href="{% static 'app1.css' %}">

  <head>
    <title>A Django Project</title>
    <meta charset="UTF-8"?
  </head>

  <body class="flright">

    <div class="container" onclick="myFunction(this);changeNav()">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>

    <div id="mySidenav" class="sidenav">
      <a href="about.html">About</a>
      <a href="jesus.html">Jesus</a>
      <a href="taylor.html">Taylor</a>
      <a href="daniel.html">Daniel</a>
      <a href="index.html">Home</a>
    </div>


    <script src="{% static 'app1.js' %}"></script>
  </body>

</html>
